.lightbox2 {
  position:fixed;
  top:100%;
  bottom:-100%;
  left:0;
  right:0;
  background:rgba(15,15,15,.8);
  z-index:501;
  opacity:0;
}
.btn_box{
	left: 0px;
	position: absolute;
	font-family: dosis;
	font-size: 1rem;
	cursor: pointer;
	line-height: normal;
	padding: .5rem 1rem;
	border: 2px solid black;
	-webkit-appearance: none;
	background-color: white;
}

.btn_box:hover {
	color: white;
	background-color: black;
}
.lightbox_zm2 {
  margin:auto;
  top:150px;
  left:0;
  right:0;
}

#lightbox-controls {
  position:fixed;
  height:70px;
  width:70px;
  top:-70px;
  right:0;
  z-index:502;
  background:rgba(0,0,0,.1);
}

#close-lightbox {
  display:block;
  position:absolute;
  overflow:hidden;
  height:50px;
  width:50px;
  text-indent:-5000px;
  right:10px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

#close-lightbox:before {
	content:'';
  display:block;
  position:absolute;
  height:0px;
  width:3px;
  left:24px;
  top:0;
  background:white;
  border-radius:2px;
  -webkit-transition: .5s .5s ease-in-out;
  -moz-transition: .5s .5s ease-in-out;
  -ms-transition: .5s .5s ease-in-out;
  -o-transition:.5s .5s ease-in-out;
  transition:.5s .5s ease-in-out;
}

#close-lightbox:after {
	content:'';
  display:block;
  position:absolute;
  width:0px;
  height:3px;
  top:24px;
  left:0;
  background:white;
  border-radius:2px;
  -webkit-transition: .5s 1s ease-in-out;
  -moz-transition: .5s 1s ease-in-out;
  -ms-transition: .5s 1s ease-in-out;
  -o-transition:.5s 1s ease-in-out;
  transition:.5s 1s ease-in-out;
}

.lightbox2:target {
  top:0%;
  bottom:0%;
  opacity:1;
}

.lightbox2:target img {
  max-width:100%;
  max-height:100%;
}

.lightbox2:target ~ #lightbox-controls {
  top:0px;
}

.lightbox2:target ~ #lightbox-controls #close-lightbox:after {
  width:50px;
}

.lightbox2:target ~ #lightbox-controls #close-lightbox:before {
  height:50px;
}
