@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:l');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');

.bgSquare {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	/*background: linear-gradient(to top, rgba(170, 208, 229, 1), rgba(185, 173, 239, 1));*/
}
.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page { visibility: visible; }

.no-js body { overflow: auto; }

.pt-page-ontop { z-index: 999; }

.bgSquareBox {
    width: 97%;
    height: 97%;
    position: absolute;
}

.BackGroundTitleBox {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
}

.BackGroundTitleContentStyleOne {
	line-height: 290px;
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 250px;
	font-family: 'Raleway';
	font-weight: 100;
	color: rgba(255, 255, 255, 0.1);;
}
.BackGroundTitleContentStyleTwo {
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 250px;
	font-family: 'Raleway';
	font-weight: 700;
	color: rgba(255, 255, 255, 0.1);;
}
.SquareForm {
	padding: 100px;
	border: 1px solid black;
}
