@keyframes scaleDown 		{ to { opacity: 0; transform: scale(.8); } }

@keyframes scaleUp 			{ from { opacity: 0; transform: scale(.8); } }

@keyframes scaleUpDown		{ from { opacity: 0; transform: scale(1.2); } }

@keyframes scaleDownUp 		{ to { opacity: 0; transform: scale(1.2); } }

@keyframes scaleDownCenter	{ to { opacity: 0; transform: scale(.7); } }

@keyframes scaleUpCenter	{ from { opacity: 0; transform: scale(.7); } }

@keyframes scaleDownSVG		{ to { stroke-opacity: 0; transform: scale(.8); } }

@keyframes goInBack {
	0%   { transform: translateX(-100px); opacity: 0; }
	100% { transform: translateX(0px); opacity: 1; }
}

@keyframes goOutBack {
	0%   { transform: translateX(0px); opacity: 1; }
	100% { transform: translateX(100px); opacity: 0; }
}

@keyframes goIn {
	0%   { transform: translateX(100px); opacity: 0; }
	100% { transform: translateX(0px); opacity: 1; }
}

@keyframes goOut {
	0%   { opacity: 1; transform: translateX(0); }
	60%  { opacity: 0; }
	100% { opacity: 0; transform: translateX(-100px); }
}
