@keyframes bgSquare1 {
	0%    { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare2 {
	0%    { width: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare3 {
	0%    { height: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare4 {
	0%    { width: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare1R {
	0%    { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare2R {
	0%    { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare3R {
	0%    { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes bgSquare4R {
	0%    { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}
@keyframes square1 {
	0%    { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square2 {
	0%    { width: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square3 {
	0%    { height: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square4 {
	0%    { width: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square1R {
	0%    { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square2R {
	0%    { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square3R {
	0%    { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes square4R {
	0%    { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}
@keyframes squarePicto1 {
	0%    { height: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes squarePicto2 {
	0%    { width: 0; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}
@keyframes squarePicto1R {
	0%    { height: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { height: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}

@keyframes squarePicto2R {
	0%    { width: 100%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
	100%  { width: 0%; background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1)); }
}
