.bgSquare1,.bgSquare2,.bgSquare3,.bgSquare4 {
	position: absolute;
	background: transparent;
	width: 0%;
	height: 0%;
	animation-duration: .4s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.bgSquare1R,.bgSquare2R,.bgSquare3R,.bgSquare4R {
	position: absolute;
	background: transparent;
	width: 0%;
	height: 0%;
	animation-duration: .4s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.square1,.square2,.square3,.square4 {
	position: absolute;
	background: transparent;
	width: 0%;
	height: 0%;
	animation-duration: .4s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.square1R,.square2R,.square3R,.square4R {
	position: absolute;
	background: transparent;
	width: 0%;
	height: 0%;
	animation-duration: .4s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.squarePicto1,.squarePicto2 {
	position: absolute;
	background: transparent;
	width: 0%;
	height: 0%;
	animation-duration: .4s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.squarePicto1R,.squarePicto2R {
	position: absolute;
	background: transparent;
	width: 0%;
	height: 0%;
	animation-duration: .4s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}


.bgSquare1 {
	left: 0;
	bottom: 0;
	height: 100%;
	width: 2px;
	animation-name: bgSquare1;
	animation-delay: 0s;
}

.bgSquare2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation-name: bgSquare2;
	animation-delay: .4s;
}

.bgSquare3 {
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	animation-name: bgSquare3;
	animation-delay: .8s;
}

.bgSquare4 {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation-name: bgSquare4;
	animation-delay: 1.2s;
}

.bgSquare1R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 2px;
	animation-name: bgSquare1R;
	animation-delay: 1.2s;
}

.bgSquare2R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation-name: bgSquare2R;
	animation-delay: .8s;
}

.bgSquare3R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	animation-name: bgSquare3R;
	animation-delay: .4s;
}

.bgSquare4R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation-name: bgSquare4R;
	animation-delay: 0s;
}

.square1 {
	left: 0;
	bottom: 0;
	height: 100%;
	width: 2px;
	animation-name: square1;
	animation-delay: 0s;
}

.square2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation-name: square2;
	animation-delay: .4s;
}

.square3 {
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	animation-name: square3;
	animation-delay: .8s;
}

.square4 {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation-name: square4;
	animation-delay: 1.2s;
}

.square1R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 2px;
	animation-name: square1R;
	animation-delay: 1.2s;
}

.square2R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation-name: square2R;
	animation-delay: .8s;
}

.square3R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	animation-name: square3R;
	animation-delay: .4s;
}

.square4R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation-name: square4R;
	animation-delay: 0s;
}

.squarePicto1 {
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	animation-name: squarePicto1;
	animation-delay: .8s;
}

.squarePicto2 {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation-name: squarePicto2;
	animation-delay: 1.2s;
}

.squarePicto1R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	right: 0;
	top: 0;
	height: 100%;
	width: 2px;
	animation-name: squarePicto1R;
	animation-delay: 1.2s;
}

.squarePicto2R {
	background: linear-gradient(to top, rgba(235, 187, 138, 1), rgba(235, 104, 92, 1));
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation-name: squarePicto2R;
	animation-delay: .8s;
}
