#formPassword {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#formPassword input, #formPassword textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: dosis;
	color: #2C3E50;
	font-size: 13px;
}
#formPassword .action-button {
	width: 100px;
	background: black;;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#formPassword .action-button:hover, #formPassword .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
	font-family: dosis;
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-family: dosis;
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
#formPasswordReset {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#formPasswordReset input, #formPasswordReset textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: dosis;
	color: #2C3E50;
	font-size: 13px;
}
#formPasswordReset .action-button {
	width: 100px;
	background: black;;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#formPasswordReset .action-button:hover, #formPasswordReset .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.id_pictures{
	visibility: hidden;
}
