.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
	padding: 0;
	margin: 0;
}
.cb-slideshow:after {
    content: '';
	/*background: transparent url(../../../sources/pictures/background/background_01.png) repeat top left;*/
}
.cb-slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	animation: imageAnimation 72s linear infinite 0s;
}
.cb-slideshow li div {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;

    animation: titleAnimation 72s linear infinite 0s;
}
.cb-slideshow li div h3 {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
	opacity: 0.5;
	background-image: url(../../sources/background/background_14.jpg);
}
.cb-slideshow li:nth-child(2) span {
	background-image: url(../../sources/background/background_13.jpg);
	animation-delay: 12s;
}
.cb-slideshow li:nth-child(3) span {
	background-image: url(../../sources/background/background_16.jpg);
	animation-delay: 24s;
}
.cb-slideshow li:nth-child(4) span {
	background-image: url(../../sources/background/background_12.jpg);
	animation-delay: 36s;
}
.cb-slideshow li:nth-child(5) span {
	background-image: url(../../sources/background/background_20.jpg);
	animation-delay: 48s;
}
.cb-slideshow li:nth-child(6) span {
	background-image: url(../../sources/background/background_17.jpg);
	animation-delay: 60s;
}

.cb-slideshow li:nth-child(2) div {
	animation-delay: 12s;
}
.cb-slideshow li:nth-child(3) div {
	animation-delay: 24s;
}
.cb-slideshow li:nth-child(4) div {
	animation-delay: 36s;
}
.cb-slideshow li:nth-child(5) div {
	animation-delay: 48s;
}
.cb-slideshow li:nth-child(6) div {
	animation-delay: 60s;
}
