@import url(http://fonts.googleapis.com/css?family=Dosis);
li{
	list-style-type: none;
}
.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}
@media screen and (max-width: 1140px) {
	.cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
	.cb-slideshow li div h3 { font-size: 80px }
}
.txt1 {
	font-family: 'Dosis Bold', sans-serif;
	font-size: 200%;
	text-align: center;
	color: black;
}
.txt2 {
	font-family: dosis;
	text-align: right;
	color: black;
	margin-top: 0;
}
a{
	text-decoration: none;
	color: black;
}
td.menu{
	width: 100px;
	height: 100px;
	background-color: transparent;
	transition: all 1s;
	border: 2px solid black;
}
td.menu:hover{
	background-color: black;
	transition: all 1s;
}
td.menu p{
	font-family: 'Dosis Light', sans-serif;
	text-align: center;
	color: black;
}
td.menu:hover p{
	transition: all 1s;
	font-family: 'Dosis Light', sans-serif;
	text-align: center;
	cursor: pointer;
	color: white;
}
td.menu:hover p a{
	transition: all 1s;
	font-family: 'Dosis Light', sans-serif;
	text-align: center;
	cursor: pointer;
	color: white;
}
.BLR{
	overflow: hidden;
	filter: grayscale(1) blur(15px);
	-webkit-filter: grayscale(1) blur(15px);
	-moz-filter: grayscale(1) blur(15px);
	-o-filter: grayscale(1) blur(15px);
	-ms-filter: grayscale(1) blur(15px);
}
.menu-2 {
	float: right;
	z-index: 0;
}
.create_user {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
	/*background-color: #111;*/
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.create_user a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.create_user a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.create_user .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-right: 50px;
}
.login {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	/*background-color: #111;*/
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.login a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.login a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.login .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
	right: 60;
}

#main {
    transition: margin- .5s;
    padding: 16px;
}

/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
