@keyframes goInBack {
	0% {
		transform: translateX(-500px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes goOutBack {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		transform: translateX(500px);
		opacity: 0;
	}
}

@keyframes goIn {
	0% {
		transform: translateX(500px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes goOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	60% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		transform: translateX(-500px);
	}
}
