.pt-page-scaleDown
	animation: scaleDown .7s ease both

.pt-page-scaleUp
	animation: scaleUp 600ms ease both

.pt-page-scaleUpDown
	animation: scaleUpDown 600ms ease both

.pt-page-scaleDownUp
	animation: scaleDownUp 600ms ease both

.pt-page-scaleDownCenter
	animation: scaleDownCenter 600ms ease-in both

.pt-page-scaleUpCenter
	animation: scaleUpCenter 600ms ease-out both

.isAnimatedOut
	animation: goOut 600ms ease-in 0s forwards


.isAnimatedIn
	animation: goIn 600ms ease-out 0s forwards

.isAnimatedOutBack
	animation: goOutBack 600ms ease-in 0s forwards

.isAnimatedInBack
	animation: goInBack 600ms ease-out 0s forwards

.pt-page-scaleDownSVG
	animation: scaleDownSVG .7s ease both
