/*@keyframes dash {
	0%	  { stroke-dashoffset: 1000; }
	100%  { stroke-dashoffset: 0; }
}*/
/*@keyframes dashR {
	0%	  { stroke-dashoffset: 0; }
	100%  { stroke-dashoffset: 1000;}
}*/
@keyframes dash {
	to	  { stroke-dashoffset: 0; }
}
@keyframes dashR {
	to	  { stroke-dashoffset: 1000; }
}
