polyline { transition: all 250ms ease-in-out; stroke: rgba(235, 104, 92, 1);}

.bgSquarePictoBox:hover polyline { stroke-width: 3; }

.bgSquarePictoBox:focus polyline { stroke-width: 3; }

.bgSquarePictoBox:hover polyline { stroke-width: 3; }

.bgSquarePictoBox:focus  polyline { stroke-width: 3; }

.SvgPicto:hover polyline { stroke-width: 3; }

.SvgPicto:focus polyline { stroke-width: 3; }

.SvgPicto:hover polyline { stroke-width: 3; }

.SvgPicto:focus  polyline { stroke-width: 3; }

.SvgPicto:active polyline { stroke-width: 6; transition: all 100ms ease-in-out; }

.bgSquarePictoBox:active polyline { stroke-width: 6; transition: all 100ms ease-in-out; }

.bgSquarePictoBox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
	height: 5%;
	position: absolute;
	cursor: pointer;
}

.SvgPicto {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash 3s linear forwards;

}
.SvgPictoR {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dashR 2s linear forwards;
}
.centerpicto {
	margin-left: 15px;
	margin-right: 15px
}
.centerpicto2 {
	margin-left: 30px;
	margin-right: 30px
}
